$container-bkg: #000;
$color: #fff;
$tools-separator-color: #f6f6f6;
$tips-bkg: #333;
$tips-border-color: #444;

.geodrawer-container {
  background: $container-bkg;
  border: 2px solid $container-bkg;
  color: $color;
  max-width: 100%;

  .geodrawer-ctrls-tools-container,
  .geodrawer-ctrls-actions-container,
  .geodrawer-ctrls-geocoder-container,
  .geodrawer-ctrls-screen-container {
    float: left;
    padding: 5px 10px;

    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }

  .geodrawer-ctrls-tools-container,
  .geodrawer-ctrls-geocoder-container {
    border-right: 1px dotted $tools-separator-color;
  }

  [class^=geodrawer-ctrl-] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 30px;
    width: 30px;
  }

  .geodrawer-ctrl-point-tool {
    background-image: url('../svg/ic_point.svg');

    &.geodrawer-selected {
      background-image: url('../svg/ic_point_selected.svg');
    }
  }

  .geodrawer-ctrl-polyline-tool {
    background-image: url('../svg/ic_polyline.svg');

    &.geodrawer-selected {
      background-image: url('../svg/ic_polyline_selected.svg');
    }
  }

  .geodrawer-ctrl-polygon-tool {
    background-image: url('../svg/ic_polygon.svg');

    &.geodrawer-selected {
      background-image: url('../svg/ic_polygon_selected.svg');
    }
  }

  .geodrawer-ctrl-circle-tool {
    background-image: url('../svg/ic_circle.svg');

    &.geodrawer-selected {
      background-image: url('../svg/ic_circle_selected.svg');
    }
  }

  .geodrawer-ctrl-clear-map {
    background-image: url('../svg/ic_clear.svg');
  }

  .geodrawer-ctrl-export-map {
    background-image: url('../svg/ic_export.svg');
  }

  .geodrawer-geocoder-field {
    float: left;
    height: 18px;
    margin-right: 5px;
    width: 140px;
  }

  .geodrawer-ctrl-geocoder-center-btn {
    background-image: url('../svg/ic_center.svg');
  }

  .geodrawer-ctrl-geocoder-draw-btn {
    background-image: url('../svg/ic_draw.svg');
  }

  .geodrawer-ctrl-fullscreen {
    background-image: url('../svg/ic_fullscreen.svg');
  }

  .geodrawer-tips-map {
    background: $tips-bkg;
    border: 1px solid $tips-border-color;
    clear: both;
    font-family: sans-serif;
    font-size: 12px;
    padding: 5px;
  }

}

// scss-lint:disable ImportantRule
.geodrawer-fullscreen {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100% !important;

  .geodrawer-ctrls-container {
    background: $container-bkg;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101;
  }

  .geodrawer-map-canvas {
    height: 100% !important;
    z-index: 100;
  }

  .geodrawer-ctrl-fullscreen {
    background-image: url('../svg/ic_minimize.svg');
  }
}

@media (min-width: 767px) {
  .geodrawer-container {
    .geodrawer-ctrls-screen-container {
      float: right !important;
    }
  }
}
